:root {
    --background-body: #fff;
    --background: #efefef;
    --background-alt: #f7f7f7;
    --selection: #9e9e9e;
    --text-main: #363636;
    --text-bright: #000;
    --text-muted: #70777f;
    --links: #0076d1;
    --focus: #0096bfab;
    --border: #dbdbdb;
    --button-base: #d0cfcf;
    --button-hover: #9b9b9b;
    --scrollbar-thumb: rgb(170, 170, 170);
    --scrollbar-thumb-hover: var(--button-hover);
    --form-placeholder: #949494;
    --form-text: #1d1d1d;
}

html {
    scrollbar-color: #040a0f #202b38;
    scrollbar-color: var(--scrollbar-thumb) var(--background-body);
    scrollbar-width: thin;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    line-height: 1.4;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 10px;
    word-wrap: break-word;
    color: #363636;
    color: var(--text-main);
    background: #fff;
    background: var(--background-body);
    text-rendering: optimizeLegibility;
}


button {
    color: #1d1d1d;
    color: var(--form-text);
    background-color: #d0cfcf;
    background-color: var(--button-base);
    font-family: inherit;
    font-size: inherit;
    padding-right: 30px;
    padding-left: 30px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

button:hover {
    background: #9b9b9b;
    background: var(--button-hover);
    cursor: pointer;
}

input {
    color: #1d1d1d;
    color: var(--form-text);
    background-color: #efefef;
    background-color: var(--background);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

input:hover {
    background: #9b9b9b;
    color: #fff;
    background: var(--button-hover);
    cursor: pointer;
}

textarea {
    color: #1d1d1d;
    color: var(--form-text);
    background-color: #efefef;
    background-color: var(--background);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

select {
  color: var(--form-placeholder);
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

h1 {
    font-size: 2.2em;
    margin-top: 0;
    color: var(--text-bright);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 12px;
    margin-top: 24px;
}

footer {
    border-top: 1px solid #dbdbdb;
    border-top: 1px solid var(--border);
    padding-top: 10px;
    color: #70777f;
    color: var(--text-muted);
}

a {
    text-decoration: none;
    color: var(--links);
}

a:hover {
    text-decoration: underline;
}

button:hover {
    color: #fff;
}

main {
    padding-top: 10%;
    padding-bottom: 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 5%;
}

.remove-btn:hover {  
    background: #e24e41;
}

.recorrido-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.colectivo-img {
    width: 100%;
    border-radius: 8px;
}

.text-section {
    padding-right: 10%;
}

#main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#main-form {
    display: flex;
    flex-direction: column;
}

.text-footer {
    padding-top: 7%;
    padding-left: 2%;
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main-section {
        display: flex;
        flex-direction: column-reverse;
    }
    .text-section {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
    }
}