{% extends 'base.html' %}

{% block body_id %}recorrido_form{% endblock %}

{% block content %}
    <main id="main-form">
        <form class="recorrido-form" method="post" action="{% url 'recorridos:circuito_formulario' %}">
            {% csrf_token %}
            <label for="nombre">Nombre</label>
                <input required name="nombre" id="nombre" class="recorrido-input" type="text">
            <label for="fecha">Fecha</label>
                <input required name="fecha" id="fecha" class="recorrido-input" type="datetime-local">
            <label for="origen">Origen</label>
                <input required name="origen" id="origen" class="recorrido-input" type="text">
            <label for="destino">Destino</label>
                <input required name="destino" id="destino" class="recorrido-input" type="text">
            <label for="itinerario">Itinerario</label>
                <select required name="itinerario" id="">
                    {% for itinerario in itinerarios %}
                    <option value="{{ itinerario.id }}">{{ itinerario.nombre }}</option>
                    {% endfor %}
                </select>

        <div class="buttoner-form">
            <button type="submit" class="btn">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'recorridos:circuito_listar' %}"><button type="button">Cancelar</button></a>
        </div>
    </form>
    </main>
{% endblock %}

{% block mensajes %}
    {% if respuesta_bool %}
        <p class="respuesta_positiva">{{ respuesta }}</p>
    {% endif %}
    {% if not respuesta_bool %}
            <p class="respuesta_negativa">{{ respuesta }}</p>
    {% endif %}
{% endblock %}

{% block footer_script %}
    {{ block.super }}
{% endblock %}