{% extends 'base.html' %}

{% block body_id %}recorrido_form{% endblock %}

{% block content %}
    <main id="main-form">
        <form class="recorrido-form" method="post" action="{% url 'itinerarios:itinerario_formulario' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="nombre">Nombre</label>
                <input name="nombre" id="nombre" class="recorrido-input" type="text">
            <label class="boton-subida" for="imagen">Imagen</label>
                <input name="imagen" id="fecha" class="recorrido-input" type="file" accept="image/*">

        <div class="buttoner-form">
            <button type="submit" class="btn">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'itinerarios:itinerario_listar' %}"><button type="button">Cancelar</button></a>
        </div>
    </form>
    </main>
{% endblock %}

{% block footer_script %}
    {{ block.super }}
{% endblock %}