{% extends 'base.html' %}

{% block body_id %}recorrido_form{% endblock %}

{% block content %}
    <main id="main-form">
        <form class="recorrido-form" method="post" action="{% url 'itinerarios:parada_formulario' %}">
            {% csrf_token %}
            <label for="nombre">Nombre</label>
                <input required name="nombre" id="nombre" class="recorrido-input" type="text">
            <label for="descripcion">Descripcion</label>
                <input required name="descripcion" id="descripcion" class="recorrido-input" type="text">
            <label for="ubicacion">Ubicacion</label>
                <input required name="ubicacion" id="ubicacion" class="recorrido-input" type="text">
            <label for="itinerario">Itinerario</label>
                <select name="itinerario" id="itinerario">
                    {% for itinerario in itinerarios %}
                        <option value="{{ itinerario.id }}">{{ itinerario.nombre }}</option>
                    {% endfor %}
                </select>

        <div class="buttoner-form">
            <button type="submit" class="btn">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'itinerarios:itinerario_listar' %}"><button type="button">Cancelar</button></a>
        </div>
    </form>
    </main>
{% endblock %}

{% block footer_script %}
    {{ block.super }}
{% endblock %}