{% extends 'base.html' %}

{% block body_id %}recorrido_form{% endblock %}

{% block content %}
    <main id="main-form">
        <form class="recorrido-form" method="post" action="{% url 'itinerarios:pd_formulario' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="nombre">Nombre</label>
                <input required name="nombre" id="nombre" class="recorrido-input" type="text">
            <label for="descripcion">Descripcion</label>
                <input required name="descripcion" id="descripcion" class="recorrido-input" type="text">
            <label for="itinerario">Itinerario</label>
                <select name="itinerario" id="itinerario">
                    {% for itinerario in itinerarios %}
                        <option value="{{ itinerario.id }}">{{ itinerario.nombre }}</option>
                    {% endfor %}
                </select>
            <label class="boton-subida" for="imagen">Imagen</label>
                <input required name="imagen" id="imagen" class="recorrido-input" type="file" accept="image/*">

        <div class="buttoner-form">
            <button type="submit" class="btn">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'itinerarios:pd_listar' %}"><button type="button">Cancelar</button></a>
        </div>
    </form>
    </main>
{% endblock %}

{% block footer_script %}
    {{ block.super }}
{% endblock %}