{% extends 'base.html' %}

{% block body_id %}colectivo_form{% endblock %}

{% block content %}
<style>
    #main-form{
        width: 100%;              
        max-width: 1200px;        
        margin: 32px auto;       
        padding: 0 24px;          
        box-sizing: border-box;
    }

    .table-wrap{
        overflow-x: auto;         
    }

    .td-btn {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .div-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;
    }
</style>

<main id="main-form">
    <div class="div-container">
        <h2> Puntos destacados </h2>
        <a href="{% url 'itinerarios:pd_formulario' %}">Agregar punto destacado</a>
    </div>
    <table class="table_view">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Itinerario</th>
                <th>Estado</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            {% for pun_destacado in pun_destacados %}
                <tr>
                    <td>{{ pun_destacado.pk }}</td>
                    <td>{{ pun_destacado.nombre }}</td>
                    <td>{{ pun_destacado.descripcion }}</td>
                    <td>{{ pun_destacado.imagen }}</td>
                    <td>{{ pun_destacado.itinerario.nombre }}</td>
                    <td>{{ pun_destacado.estado }}</td>
                    <td class="td-btn">
                        <a class="btn btn-small" href="{% url 'itinerarios:pd_editar' pun_destacado.pk %}"><button>Editar</button></a>
                        <form action="{% url 'itinerarios:pd_eliminar' pun_destacado.pk %}" method="POST" style="display:inline;"
                            onsubmit="return confirm('Eliminar punto destacado {{pun_destacado.nombre }}?');">
                            {% csrf_token %}
                            <button type="submit">Borrar</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="5">No hay Puntos destacados cargados.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}

{% block footer_script %}
    {{ block.super }}
{% endblock %}
