{% extends 'base.html' %}

{% block body_id %}recorrido_form{% endblock %}

{% block content %}
    <main id="main-form">
        <form class="recorrido-form" method="post" action="{% url 'recorridos:formulario_colectivo' %}">
            {% csrf_token %}
            <label for="fecha">Fecha</label>
                <input name="fecha" id="fecha" class="recorrido-input" type="datetime-local">
            <label for="origen">Origen</label>
                <input name="origen" id="origen" class="recorrido-input" type="text">
            <label for="destino">Destino</label>
                <input name="destino" id="destino" class="recorrido-input" type="text">

        <div class="buttoner-form">
            <button type="submit">Agregar</button>
            <button type="reset">Editar</button>
            <button class="remove-btn" type="remove">Eliminar</button>
        </div>
    </form>
    </main>
{% endblock %}

{% block footer_script %}
    {{ block.super }}
{% endblock %}