{% extends 'base.html' %}

{% block body_id %}reserva_form{% endblock %}

{% block content %}
    <style>
        .container-f-h {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    </style>

    <main id="main-form">
        <div class="container-f-h">
            <div>
                <form class="recorrido-form" action="{% url 'reservas:reserva_formulario' itinerario_pk %}" method="POST">
                    {% csrf_token %}
                    <label for="Recorrido">Recorrido</label>
                        <select name="circuito" id="Recorrido" class="recorrido-input">
                            {% for circuito in circuitos %}
                            <option value="{{ circuito.id }}">{{ circuito.nombre }}</option>
                            {% endfor %}
                        </select>
                    <label for="punto_partida">Punto de partida</label>
                        <select name="punto_partida" id="">
                            {% for parada in paradas %}
                            <option value="{{ parada.id }}">{{ parada.nombre }}</option>
                            {% endfor %}
                        </select>
                    <label for="cant_per">Cantidad de personas</label>
                        <input name="cant_per" type="number" id="cant_per" min="1">

                    <div class="buttoner-form">
                    <button type="submit" class="btn">Guardar</button>
                    <a class="btn btn-secondary" href="{% url 'itinerarios:itinerario_detalle' itinerario_pk %}"><button type="button">Cancelar</button></a>
                </div>
                </form>
            </div>
            <div class="seccion-horarios">
                <ol>
                    {% for circuito in circuitos %}
                    <li class="articulo">
                        <h5>{{ circuito.nombre }}</h5>
                        <p>Horario de salida: {{ circuito.horario }}</p>
                        <p>Asientos desponibles: {{circuito.cantidad_maxima_asientos}}</p>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer_script %}
    {{ block.super }}
{% endblock %}