{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'css/styles.css' %}?v={{ timestamp }}">
    <title>CITYTUR CATAMARCA</title>
</head>
<body data-page="{% block body_id %}{% endblock %}">
    <header>
        <h1>CITYTUR CATAMARCA</h1>
        <nav>
            <a href="{% url 'core:landing' %}">CityCatamarca</a>
            
            {% if user.is_authenticated %}
                {% if user.groups.all.0.name == 'rol_operador' or user.is_superuser %}
                    <a href="{% url 'recorridos:circuito_listar' %}">Recorridos</a>
                    <a href="{% url 'itinerarios:pd_listar' %}">PPartida</a>
                    {% if user.is_superuser %}
                        <a href="{% url 'itinerarios:itinerario_listar' %}">Itinerarios</a>
                        <a href="{% url 'itinerarios:parada_listar' %}">Parada</a>
                        <a href="{% url 'colectivos:colectivo_listar' %}">Colectivo</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </nav>
    </header>
    <ul class="navbar-nav ">…</ul>
    {% block content %}
    {% endblock %}
    {% block mensajes %}
    <style>
        .respuesta_positiva {
            background-color: #0096bfab;
            color: #fff;
            border-radius: 7px;
        }

        .respuesta_negativa {
            background-color: #e24e41;
            color: #fff;
            border-radius: 7px;
        }
    </style>
    {% endblock %}
    {% block footer_script %}
    <footer>
        <p>&copy; 2025 CITYTUR CATAMARCA. Todos los derechos reservados.</p>
    </footer>
    <script type="module" src="{% static 'js/index.js' %}"></script>
    {% endblock %}
</body>
</html>